@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Futura;
  src:
    url('../fonts/futura.woff2') format('woff2'),
    url('../fonts/futura.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Futura;
  src:
    url('../fonts/futura-heavy.woff2') format('woff2'),
    url('../fonts/futura-heavy.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Tally;
  src:
    url('../fonts/tally.woff2') format('woff2'),
    url('../fonts/tally.woff') format('woff');
  font-style: normal;
  font-display: block;
}
